@charset "utf-8";
@font-face{
    font-family: 'slim-play-font';
    src: url('../_fonts/SlimPlay-D1gR.ttf');
}

body{
    text-align: justify;
    font-family: Arial, sans-serif;
    background-color: #dde0e7;
}

a{
    text-decoration: none;
}

/*Formatação do corpo da página*/

div#corpo{
    width: 1100px;
    box-shadow: 5px 5px 8px #026cd9;
    background-color: white;
    display: block;
    margin: -20px auto 0px auto;
    padding: 10px;
}

/*Formatação do cabeçalho*/

header#cabecalho{
    height: 150px;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    background: url("../_imagens/ps5-logo-med.jpg") no-repeat 550px -24px;
    font-family: slim-play-font, sans-serif;
}

header#cabecalho h1{
    font-size: 25pt;
    margin-top: 30px;
    margin-left: 30px;
}

header#cabecalho h2{
    margin-left: 40px;
}


/*Formatação da interface*/

div#interface{
    display: flex;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px black solid;
}

/*Formatação do menu lateral*/

nav#menuLateral{
    margin-left: -20px;
    margin-right: 10px;
    width: 200px;
    border-right: 1px black solid;
    padding-right: 5px;
}

nav#menuLateral ul li{
    position: relative;
    background-color: #b1b1b1;
    padding: 3px;
    list-style: none;
}

ul.subMenu{
    position: absolute;
    left: 140px;
    top: 0;
    width: 250px;
    display: none;
}

ul.menuPrincipal li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}



ul.menuPrincipal li:hover ul{
    display: block;
}

/*Formatação do conteúdo da pagina principal*/

section#secaoPrincipal article{
    display: flex;
    background-color: black;
    height: 230px;
    width: 218px;
    margin: 10px auto 3px 5px;
    border-radius: 8px;
}

section#secaoPrincipal article img{
    border-radius: 8px;
}

section.legendaArticle{
    overflow: hidden;
    border: 0px;
    display: none;
    opacity: 0;
}

/*Formatação das noticias secundarias*/

section#secaoSecundaria{
    display: flex;
}

div.conteudoSecaoSecindaria{
    display: block;
}

div.conteudoSecaoSecundaria article{
    display: flex;
    border-radius: 8px;
    margin: 30px 100px 70px 30px;
    width: 400px;
    height: 130px;
}

article.artigoSecaoSecundaria img{
    margin-right: 5px;
    border-radius: 8px;
}

article.artigoSecaoSecundaria h2{
    font-size: 13pt;
    margin-right: 5px;
    text-align: center;
    background-color:  #dde0e7;
    flex-direction: column;
}

article.artigoSecaoSecundaria div{
    display: block;
}

article.artigoSecaoSecundaria h3{
    font-size: medium;
    text-align: center;
}

/*Formatação do rodapé*/

footer#rodape{
    margin-top: 10px;
    padding-top: 10px;
    clear: both;
    text-align: center;
    border-top: 1px black solid;
}