@charset "utf-8";

/*Formatação da seção principal da pagina de formulário*/

section#secaoPrincipal form {
    display: block;
    width: 100%;
}

div#imagemModelo{
    border: 1px black solid;
    display: inline-block;
    padding: 10px;
    box-shadow: 2px 2px 4px rgb(116, 116, 116);
}

div#imagemModelo img{
    height: 300px;
    width: 300px;
}